* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body,
html {
    background-color: var(--section-bg-color);
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.mt-10 {
    margin-top: 100px;
}

.notification__erro {
    color: red;
}



:root {
    --white-color: #FFFFFF;
    --primary-color: #FF4400;
    --section-bg-color: #f0f8ff;
    --dark-color: #000000;
    --grey-color: #d0d1d1;
    --p-color: #717275;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;

    --h5-font-size: 24px;
    --h5-font-size-mobile: 19px;
    --p-font-size: 20px;
    --copyright-text-font-size: 16px;
    --product-link-font-size: 14px;
    --custom-link-font-size: 12px;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
}


#main {}

/* MAPS */
.map-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.map-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 50px;
}

.btn__gateway {
    position: absolute;
    top: 55%;
    left: 45%;
    background-color: green;
}

.btn__one {
    position: absolute;
    top: 39%;
    left: 35%;
    background-color: var(--p-color);
}

.btn__two {
    position: absolute;
    top: 34%;
    left: 41%;
    background-color: var(--p-color);
}

.btn__three {
    position: absolute;
    top: 30%;
    left: 48%;
    background-color: var(--p-color);
}

.btn__one,
.btn__two,
.btn__three,
.btn__gateway, .btn__col__warning {
    width: 50px;
    height: 50px;
    color: #000000;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
}

.rectangle {
    width: 150px; 
    height: 50px; 
    display: flex; 
    border: 1px solid #000; 
}

.section {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-right: 1px solid #000;
    background-color: green;
}

.btn__col__warning {
    position: absolute;
    top: 15%;
    left: 64%;
    flex-direction: row;
    background-color: gray;
    color: black;
}

.btn__col__one {
    position: absolute;
    top: 10%;
    left: 80%;
    flex-direction: row;
    background-color: green;
}

.btn__col__two {
    position: absolute;
    top: 20%;
    left: 80%;
    flex-direction: row;
    background-color: green;
}

.btn__col__three {
    position: absolute;
    top: 30%;
    left: 80%;
    flex-direction: row;
    background-color: green;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}


.map-buttons button:hover {
    opacity: 0.6;
}

/* MAPS */

#header {
    height: 60px;
    background-color: var(--white-color);
    align-items: center;
    z-index: 10;
}



#title__header {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: var(--h5-font-size-mobile);
    font-weight: var(--font-weight-black);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--p-color);
    padding: 10px 0;
    display: inline-block;
    position: relative;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}


.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s;
}

/* Gạch chân khi liên kết có class active */
.navbar ul li a.active::after {
    color: var(--primary-color);
    width: 100%;
}

.navbar ul li .nav-link.active{
    color: var(--primary-color);
    width: 100%;
}

.btn_logout {
    background: none;
    border: hidden;
    font-size: 20px;
    font-weight: 700;
    color: #717275;
    align-items: center;
    text-align: center;
    line-height: 33px;
    outline: none;
}


.btn_logout:hover {
    color: var(--primary-color);
}


#content {
    min-height: calc(143vh - 600px);
    height: 100%;
    width: 100%;
    margin: 50px 0 0;
}


.maps__container,
.chart__container {
    width: 100%;
}

#title__maps {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-black);
    margin-bottom: 20px;
    color: var(--blue);
}

.gg__maps {
    width: 100%;
    height: 500px;
}

/* CHART */
.container,
.highcharts-data-table table {
    min-width: 350px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* DATE */
.date__container {
    display: flex;
    justify-content: center;
}

.title__date {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
}

#datetime-picker {
    padding: 5px;
}


.btn__date {
    width: 50px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    padding: 7px;
    color: var(--white-color);
    background-color: var(--blue);
}

.btn__date:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}


/* footer*/

#footer {
    line-height: 100px;
    text-align: center;
    height: 100px;
    background-color: var(--white-color);
}